<ion-view title="Login">

    <ion-nav-bar class="bar-stable nav-title-slide-ios7 bar-positive ">
    </ion-nav-bar>

    <ion-content class="login padding item">
        <div class="text-center instructions">
            Please enter username and password
        </div>
        <div class="list">
            <label class="item item-input">
                <input ng-model="vm.credentials.email" type="text" placeholder="Your User Name">
            </label>
            <label class="item item-input">
                <input ng-model="vm.credentials.password" type="password">
            </label>
        </div>
        <button class="button" ng-disabled="!vm.credentials.email || vm.credentials.password.length === 0" ng-click="vm.loginBtnClicked()">Login</button>
        <button class="button" ng-disabled="!vm.credentials.email || vm.credentials.password.length === 0" ng-click="vm.createAccountBtnClicked()">Create Account</button>
    </ion-content>
</ion-view>
