<ion-tabs class="tabs-stable tabs-icon-top tabs-color-positive" ng-cloak>

    <ion-tab title="Schedule" icon-on="ion-ios-star" icon-off="ion-ios-star-outline" href="#/tab/schedule">
        <ion-nav-view name="tab-schedule"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Assessments" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline" href="#/tab/assessments">
        <ion-nav-view name="tab-assessments"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Settings" icon-on="ion-ios-cog" icon-off="ion-ios-cog-outline" href="#/tab/settings">
        <ion-nav-view name="tab-settings"></ion-nav-view>
    </ion-tab>

</ion-tabs>
